/**
  * General styles
  */
body {
  margin: 0;
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
  color: #333;
}

.contact-page {
  padding: 20px;
  background: white;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1250px;
  margin: 20px auto;
}

.header {
  text-align: center;
  color: #1976d2;
  margin-bottom: 20px;
  font-weight: bold;
}

.search-container {
  display: flex;
  gap: 10px;
  height: 50px;
  margin-bottom: 15px;
  align-items: center;
}

/**
  * Table styles, and popover styles
  */
.table-container {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

span {
  display: inline-block;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TableRow:hover {
  background: rgba(0, 0, 0, 0.05);
}

.TableCell {
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}

.table-header {
  font-weight: bold;
  text-align: center;
}

.align-center {
  text-align: center;
  vertical-align: middle;
}

.clickable {
  color: #1976d2;
  text-decoration: underline;
  cursor: pointer;
}

.popover-content {
  font-size: 0.9rem;
  padding: 16px;
  max-width: 300px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.popover-heading {
  margin-bottom: 8px;
  font-weight: bold;
  color: #1976d2;
}

.popover-item {
  margin: 4px 0;
  font-size: 0.9rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


/**
  * Card styles, used in mobile view
  */
.card {
  padding: 16px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.card-header {
  color: #1976d2;
  margin-bottom: 8px;
  font-weight: bold;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-row {
  display: flex;
  align-items: baseline;
  margin-bottom: 8px;
}

.card-row strong {
  margin-right: 8px;
  color: #333;
  text-decoration: none;
}

.card-content .clickable {
  color: #1976d2;
  text-decoration: underline;
  cursor: pointer;
}

.card-content .expanded-address {
  display: inline-block;
  max-width: 300px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
  * Highlighted card styles
  */
.highlighted {
  background-color: yellow;
}


/**
  * Responsive styles
  */
@media (min-width: 769px) {
  .card-container {
    display: none;
  }

  .search-input{
    max-width: 300px;
    height: '50px'; 
  }
}

@media (max-width: 768px) {
  .table-container {
    display: none;
  }
  .search-input{
    width: 100%;
  }
}